/*
Plugin Name: Juiz Smart Mobile Admin
Plugin URI: http://wp.creativejuiz.fr
Author: Geoffrey Crofte
Note: this file is directly included in HTML content (request save)
*/

html,
body,
div,
table,
blockquote,
p {
	width:auto !important;
	min-width: 10px !important;
	line-height: 1.8em !important;
}

object { max-width: 95%;}


html.wp-toolbar {
	padding-top:0;
}

/* == juiz styles before */
.add_and_go_to_bottom,
.juiz_goto_menu,
.juiz_goto_header {
	display: inline-block;
	width: 30px;
	margin-bottom:5px;
	text-indent: -9999px;
	background: #999 url(../img/jUIz_icons.png) 5px 50% no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.juiz_goto_menu,
.juiz_goto_header {
	position: absolute;
	top: -5px; right: 5px;
	width: 24px;
	background-position: -24px 50%;
}
body.admin-bar .juiz_goto_menu {
	top: 42px;
}
body.admin-bar.branch-3-5 .juiz_goto_menu {
	top: 16px;
}


/* == useless informations */

li#collapse-menu,
div#screen-meta,
div#adminmenuback,
a#content_resize,
#update-nag,
.update-nag {
	display:none !important;
}

/*3.3*/
#screen-meta-links { display: none; }


/* == wrappers */

div#wpcontent { height:auto; }
div#wpwrap { width: auto; }
div#wpcontent {	margin-left: 0; }
div#wpbody-content {
	float:none;
	height:auto;
	width:auto;
}
div#wpbody-content {
	padding-bottom: 2em;
}
div.wrap {
	margin: 0 15px;
}
div.postbox-container,
#col-right {
	float: none;
	padding-right: 0;
}

/* 3.5 branch */
.auto-fold #wpcontent,
.auto-fold #wpfooter {
	margin-left:0;
	margin-right: 0;
}
.auto-fold #wpfooter {
	position:static;
	padding: 15px;
	text-align:center;
}

/* 3.3 branch wrappers */
.folded #wpcontent,
.folded #footer {
	margin-left:0;
}
body.admin-bar.branch-3-3 #adminmenu,
body.admin-bar.branch-3-4 #adminmenu,
body.admin-bar.branch-3-5 #adminmenu {
	padding-top: 0;
}

/* == headings */

img#header-logo,
#wphead #site-heading {
	float:none;
	display:inline-block;
	vertical-align:middle;
	padding:0;
}
div#wphead {
	position: relative;
	height: auto;
	margin-left: 0;
	margin-right: 0;
	padding: 1em;
	text-align: center;
}
div#wpcontent {
	position: relative;
}
div#user_info {
	float:none;
	height:auto;
	width:auto;
}
.wrap a.add-new-h2 {
	padding: 5px 10px;
	background: #eee;
}

#user_info .hide-if-no-js #user_info_links {
	position: static;
	width: 100% !important;
}
#user_info_links_wrap {
	right: 0;
	left: 0;
}


/* == navigation */
body.admin-bar #adminmenu {
	padding-top: 3em;
} 
body.admin-bar #wphead {
	padding: 3em;
}
#wpadminbar {
	height: 2.5em;
	right:0;
	padding: 0 10px;
}
#wpadminbar form {
	padding: 3px;
}
#wpadminbar img {
	border: 2px solid #aaa;
	margin-right: 5px;
}
#wpadminbar select {
	max-width: 90px;
	vertical-align:top;
	-webkit-box-shadow: 2px 2px 1px #CDCDCD inset;
	-moz-box-shadow: 2px 2px 1px #CDCDCD inset;
	box-shadow: 2px 2px 1px #CDCDCD inset;
	border: 1px solid #626262;
	color: #555!important;
	background: #ddd;
}
#wpadminbar option,
#wpadminbar optgroup {
	color: #555!important;
	text-shadow: 0 0 0;
}
#wpadminbar .adminbar-button {
	width: auto;
	height: auto;
	margin: 0;
	padding: 1px 3px;
	border: 1px solid #626262;
	cursor: pointer;
	font: bold 12px Arial,Helvetica,sans-serif;
	background: -webkit-linear-gradient(center bottom , #AAAAAA, #CECECE) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center bottom , #AAAAAA, #CECECE) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center bottom , #AAAAAA, #CECECE) repeat scroll 0 0 transparent;
	background: linear-gradient(center bottom , #AAAAAA, #CECECE) repeat scroll 0 0 transparent;
	text-shadow: 0 1px 0 #EEEEEE;
	color: #444444;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#wpadminbar #adminbarsearch .adminbar-input {
	width: 90px!important;
}
#wpadminbar #adminbarsearch .adminbar-button {
	text-indent: -9999px;
	background: url(../img/jUIz_table_icons.png) no-repeat 8px -552px, -webkit-linear-gradient(center bottom , #AAAAAA, #CECECE) repeat scroll 0 0 transparent!important;
	background: url(../img/jUIz_table_icons.png) no-repeat 8px -552px, -moz-linear-gradient(center bottom , #AAAAAA, #CECECE) repeat scroll 0 0 transparent!important;
	background: url(../img/jUIz_table_icons.png) no-repeat 8px -552px, -o-linear-gradient(center bottom , #AAAAAA, #CECECE) repeat scroll 0 0 transparent!important;
	background: url(../img/jUIz_table_icons.png) no-repeat 8px -552px, linear-gradient(center bottom , #AAAAAA, #CECECE) repeat scroll 0 0 transparent!important;
}
#wpadminbar input[type='submit'] {
	vertical-align:top;
}
#wpadminbar .quicklinks { float: left; }
#adminbarsearch-wrap { float: right; }

.branch-3-3 #wp-admin-bar-my-account > .ab-item,
.branch-3-4 #wp-admin-bar-my-account > .ab-item,
.branch-3-5 #wp-admin-bar-my-account > .ab-item { min-width: 10px;}
.branch-3-3 #wp-admin-bar-my-account > .ab-item .hide_if_smart,
.branch-3-4 #wp-admin-bar-my-account > .ab-item .hide_if_smart,
.branch-3-5 #wp-admin-bar-my-account > .ab-item .hide_if_smart { display: none; }
.branch-3-3 #wp-admin-bar-my-account > .ab-item img,
.branch-3-4 #wp-admin-bar-my-account > .ab-item img,
.branch-3-5 #wp-admin-bar-my-account > .ab-item img {position: absolute;right:5px;top:7px;}
.branch-3-3 #wpadminbar,
.branch-3-4 #wpadminbar,
.branch-3-5 #wpadminbar {
	position: static;
	height: auto;
}
.branch-3-3 #wpadminbar .quicklinks,
.branch-3-4 #wpadminbar .quicklinks,
.branch-3-5 #wpadminbar .quicklinks {
	float: none;
	position: relative;
	padding-right: 45px;
}
.branch-3-3 #wpadminbar li,
.branch-3-3 #wp-admin-bar-root-default,
.branch-3-3 #wp-admin-bar-top-secondary,
.branch-3-4 #wpadminbar li,
.branch-3-4 #wp-admin-bar-root-default,
.branch-3-4 #wp-admin-bar-top-secondary,
.branch-3-5 #wpadminbar li,
.branch-3-5 #wp-admin-bar-root-default,
.branch-3-5 #wp-admin-bar-top-secondary {
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.branch-3-3 li#wp-admin-bar-wp-logo,
.branch-3-3 #wp-admin-bar-new-content .ab-label,
.branch-3-3 #wp-admin-bar-user-info .avatar,
.branch-3-4 li#wp-admin-bar-wp-logo,
.branch-3-4 #wp-admin-bar-new-content .ab-label,
.branch-3-4 #wp-admin-bar-user-info .avatar,
.branch-3-5 li#wp-admin-bar-wp-logo,
.branch-3-5 #wp-admin-bar-new-content .ab-label,
.branch-3-5 #wp-admin-bar-user-info .avatar { display: none; }
.branch-3-3 #wp-admin-bar-root-default ul,
.branch-3-4 #wp-admin-bar-root-default ul,
.branch-3-5 #wp-admin-bar-root-default ul {
	z-index: 20;
}
.branch-3-3 #wpadminbar .ab-top-secondary,
.branch-3-4 #wpadminbar .ab-top-secondary,
.branch-3-5 #wpadminbar .ab-top-secondary {
	position: absolute;
	right: 0; top: 2px;
	z-index: 10;
}
.branch-3-3 #wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper,
.branch-3-4 #wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper,
.branch-3-5 #wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
	left: auto; right: 0;
}
.branch-3-3 #wpadminbar .quicklinks a,
.branch-3-3 #wpadminbar .quicklinks .ab-empty-item,
.branch-3-3 #wpadminbar .shortlink-input,
.branch-3-4 #wpadminbar .quicklinks a,
.branch-3-4 #wpadminbar .quicklinks .ab-empty-item,
.branch-3-4 #wpadminbar .shortlink-input,
.branch-3-5 #wpadminbar .quicklinks a,
.branch-3-5 #wpadminbar .quicklinks .ab-empty-item,
.branch-3-5 #wpadminbar .shortlink-input {padding: 0 10px;}

.branch-3-3 #wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li,
.branch-3-4 #wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li,
.branch-3-5 #wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li { margin-left: 16px;}

.wrap .add-new-h2 {
	top: 1px;
}
div#adminmenuback,
div#adminmenuwrap {
	float: none;
	border: 0;
}
#adminmenushadow, 
#adminmenuback {
	background: url(../img/menu-shadow-rtl.png) 0 0 repeat-y !important;
	right: 0.65em !important;
	z-index:0;
}
#adminmenushadow_left {
	position: absolute;
	background: url(../img/menu-shadow.png) 0 0 repeat-y;
	top:0; bottom:0; left: 0.89em;
}
#adminmenuback, 
#adminmenuwrap, 
#adminmenu, 
.js.folded #adminmenu .wp-submenu.sub-open, 
.js.folded #adminmenu .wp-submenu-wrap {
	width: auto;
}

.js #adminmenu .wp-submenu.sub-open,
.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
.no-js #adminmenu .wp-has-submenu:hover .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu li.focused .wp-submenu {
	display: block!important;
}
#adminmenu .wp-has-current-submenu .wp-submenu,
.branch-3-5 #adminmenu .wp-has-current-submenu .wp-submenu {
	position: static!important;
}
body.branch-3-5 #adminmenu .wp-has-current-submenu .wp-submenu {
	display:block!important;
	width: auto;
	box-shadow: 0 0 0;
}

#adminmenu {
	margin: 0 1.5em;
}
#adminmenu a.menu-top,
#adminmenu div.wp-menu-toggle {
	display: block;
}
#adminmenu li.wp-has-current-submenu .wp-menu-arrow, 
#adminmenu li.menu-top.current .wp-menu-arrow {
	display:none;
}
#adminmenu li.menu-top,
.auto-fold #adminmenuback,
.auto-fold #adminmenuwrap,
.auto-fold #adminmenu,
.auto-fold #adminmenu li.menu-top {
	width: auto!important;
}
.auto-fold #adminmenu li.menu-top {
	margin-top: 1px;
	margin-bottom: 1px;
}
/* wp3.5 branch */
.auto-fold #adminmenu a.menu-top {
	height: 1.6em;
}
.auto-fold #adminmenu .wp-menu-name {
	display:inline-block;
	padding: 0 5px;
}
#adminmenu .awaiting-mod,
#adminmenu span.update-plugins,
#sidemenu li a span.update-plugins {
	top: 24%;
	right: -56%;
}
#adminmenu li, #adminmenu li .wp-menu-name {position:relative;}


#adminmenu a.wp-has-submenu {
	margin-left:0;
}
#adminmenu div.wp-menu-image {
	float: none;
	position: absolute;
    top: 2px; left: 3px;
	float: none;
}
#adminmenu .wp-menu-toggle {
	float: none;
	position: absolute;
	top: 3px; right: 5px;
	width: 30px !important;
	height: 38px;
}
#adminmenu a {
	display: inline-block;
}
#adminmenu a.menu-top {
	width: 79%;
	padding: 3% 8% 3% 13%;
}
#adminmenu .wp-has-submenu .wp-menu-toggle {
	background: url(../img/arrows.png) no-repeat scroll 50% -10% transparent;
}
#adminmenu li.wp-has-current-submenu .wp-menu-toggle {
	background: url(../img/arrows-dark.png) no-repeat scroll 50% -10% transparent;
}
#adminmenu .wp-menu-open .wp-menu-toggle {
	background-position: 50% 27% !important;
}
#adminmenu li.wp-has-current-submenu.wp-menu-open .wp-menu-toggle {
	background-position: 50% 29% !important;
}
#adminmenu .wp-has-submenu:hover .wp-menu-toggle {
	background-position: 50% -10% !important;
}
#adminmenu .wp-submenu a {
	display: block;
	padding: 6px 12px;
}

.tablenav .actions + .actions {
	margin: 1.6em 0;
}

/* 3.3 branch navigation */

.folded #adminmenuback,
.folded #adminmenuwrap, 
.folded #adminmenu, 
.folded #adminmenu li.menu-top {
	width: auto !important;
}
.folded #adminmenu a.menu-top,
body.no-js #adminmenu .wp-menu-toggle,
.folded #adminmenu div.wp-menu-toggle {
	display: block;
}
.folded #adminmenu a.wp-has-submenu {
	margin-left: 0;
}
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
	display:block;
	position: static;
}
.js #adminmenu .wp-submenu.sub-open,
.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
.no-js #adminmenu .wp-has-submenu:hover .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu li.focused .wp-submenu {
	display:none;
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
	display: none;
}
.folded #adminmenu .wp-has-current-submenu .wp-submenu-wrap {
	margin-top: 0;
}
#adminmenu .wp-submenu.sub-open, #adminmenu li.focused.wp-not-current-submenu .wp-submenu, 
.folded #adminmenu li.focused.wp-has-current-submenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
.no-js #adminmenu .wp-has-submenu:hover .wp-submenu,
.no-js.folded #adminmenu .wp-has-current-submenu:hover .wp-submenu {
	padding: 0;
}

/* == general*/
#dashboard_recent_drafts ul, #dashboard_recent_drafts p { word-wrap: break-word;}

/* == dashboard */

#dashboard_right_now .table_discussion,
#dashboard_right_now .table_content {
	float:none;
	width: auto;
}
#dashboard_right_now .table_discussion {
	margin-top: 40px;
}

/* == write a post */

#post-body-content,
.postbox-container {
	float: none !important;
}

.inner-sidebar { float: none; }
.has-right-sidebar #post-body,
.has-left-sidebar #post-body,
.has-right-sidebar #post-body-content,
.has-left-sidebar #post-body-content {
	float: none;
	margin-right: 0;
	margin-left: 0;
	width: auto;
}
.categorydiv div.tabs-panel,
.customlinkdiv div.tabs-panel,
.posttypediv div.tabs-panel,
.taxonomydiv div.tabs-panel,
#linkcategorydiv div.tabs-panel {
	height: auto;
	min-height: 100px;
	max-height: 200px;
}
.taghint { 
	position:relative;
	margin-bottom: -40px;
	z-index:2;
}
#new-tag-post_tag { z-index:1; }
#media-buttons a {
	margin: 0 0.3em;
}
#edButtonPreview,
#edButtonHTML {
	padding: 5px 15px 13px 15px;
}
#media-buttons,
#edButtonPreview,
#edButtonHTML {
	position: relative;
	top: -12px;
}
#media-buttons {
	margin-right: 165px;
	padding-top: 0;
	line-height: 1.5em !important;
}

#editorcontainer #content,
#editorcontainer .wp_themeSkin .mceIframeContainer {
	height: 300px;
}
#content_parent.mceEditor.wp_themeSkin {
	display:block;
	width: 100%;
}
.wp_themeSkin table.mceLayout,
.wp_themeSkin table.mceLayout tr,
.wp_themeSkin table.mceLayout td,
.wp_themeSkin table.mceLayout th,
#post-status-info,
#post-status-info tr,
#post-status-info td {
	display:block;
}
#content_toolbargroup {
	overflow: visible;
	width:auto;
}
.wp_themeSkin tbody,
.wp_themeSkin #content_toolbar1,
.wp_themeSkin tr.mceFirst .mceToolbar tr,
.wp_themeSkin tr.mceLast .mceToolbar tr {
	display: block;
	white-space: normal;
}
.wp_themeSkin tr.mceFirst .mceToolbar tr td,
.wp_themeSkin tr.mceLast .mceToolbar tr td {
	display:inline-block;
}
.wp_themeSkin .mceStatusbar {
	height: auto!important;
}
.wp_themeSkin .mceStatusbar div {
	float: none!important;
	padding-bottom:0;
}


/* == add media */

.media-new-php .upload-html-bypass {
	display: none;
}


/* == add link */

.link-add-php #linkxfndiv label {
	display: block;
}
.link-add-php #linkadvanceddiv .form-table th {
	width: auto;
}
.link-add-php #poststuff,
.post-new-php #poststuff {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}
.link-add-php #side-info-column,
.post-new-php #poststuff #side-info-column {
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	box-ordinal-group: 2;
}
.link-add-php #post-body,
.post-new-php #poststuff #post-body {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
}


/* == manage themes */
h2.nav-tab-wrapper .nav-tab {
	font-size: 14px;
	padding: 4px 4px 6px;
	margin-right: 0;
}
h2.nav-tab-wrapper .nav-tab + .nav-tab {
	margin-left: 3px;
}
.themes-php .filter-form #filter-click {
	display:block;
}
table#availablethemes,
table#availablethemes tr,
table#availablethemes td {
	display:block;
	border: 0 none;
	width: auto;
}
table#availablethemes td.available-theme {
	text-align: center;
	border-bottom: 1px solid #ddd;

}
.available-theme a.screenshot img {
	display:inline-block;
	background: #fff;
	padding: 2px;
	border: 1px solid #ddd;
}
.available-theme a.screenshot {
	position: relative;
	display: inline-block;
	z-index: 10;
	overflow: visible;
}
.available-theme a.screenshot:after {
	content: ' ';
	display:block;
	position: absolute;
	bottom: 7px; right: 10px;
	width: 50%; height: 35px;
	z-index: -1;
	background: red;
	-webkit-box-shadow: 7px 10px 15px #555;
	-moz-box-shadow: 7px 10px 15px #555;
	-ms-box-shadow: 7px 10px 15px #555;
	box-shadow: 7px 10px 15px #555;
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);
}
.available-theme .description {
	text-align: justify;
}
.available-theme .action-links + p,
.available-theme .action-links + p + p,
.action-links .thickbox-preview,
#current-theme .theme-options {
	display: none;
}
#current-theme img {
	width: 110px;
	height: auto;
}

.theme-install-php .feature-filter .feature-name {
	display: block;
	width: auto;
	float: none;
	margin-bottom: 1em;
	text-align: left;
	font-weight: bold;
	font-variant: small-caps;
	border-bottom: 1px solid #ddd;
}
.theme-install-php .clear + .feature-name {
	margin-top: 2.2em;
}
.theme-install-php .feature-filter .feature-group {
	float: none;
	width: auto;
}


/* == widgets */

.widget-liquid-left {
	display:none;
}
div.widget-liquid-right {
	float: none;
}
.widget-liquid-right .sidebar-description { margin-left: 10px; }
.widgets-holder-wrap .widget {
	margin: 0 10px;
}

/* == menus */
body.menu-max-depth-0 {
	width: auto !important;
	min-width:10px !important;
}
#nav-menus-frame {
	margin-left: 0;
	padding: 25px 0 10px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}
#wpbody-content #menu-settings-column {
	float: none;
	margin-left:0;
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	box-ordinal-group: 2;
	
}
#menu-management-liquid {
	float: none;
	min-width: 10px;
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
}
#menu-management { margin-right: 0; }

/* == theme editor */
#templateside {
	float:none;
	margin-right: 10px;
}
#template {
	margin-top: 2em;
}
#template textarea {
	max-height:200px;
}
#templateside li {
	margin: 1.4em 0.4em;
}
#template div {
	width: auto;
	margin-right:0;
}

/* == profil */
#profile-page .form-table textarea {
	width: 95%;
}
.form-table th {
	width: auto;
}

/* == permalink */
.options-permalink-php code {
	display:block;
	max-width: 75%;
	overflow: auto;
}

/* == icons and alert */

.icon32 { 
	display: inline-block !important;
	width: 36px !important;
	float:none;
	vertical-align: bottom;
}
.icon32 + h2 { 
	display: inline-block;
	vertical-align: bottom;
}
#adminmenu div.wp-menu-image { width: 28px !important; }
.sidebar-name-arrow { width: 26px !important; }
#message { margin-top: 2em; }
div.postbox .handlediv {
	visibility: visible;
	width: 27px !important;
}
.meta-box-sortables div.postbox .handlediv {
	background: url(../img/arrows.png) no-repeat scroll 6px 7px transparent;
}
.meta-box-sortables div.closed .handlediv {
	background: url(../img/arrows.png) no-repeat scroll 6px -29px transparent;
}
.active #user_info_arrow {
	width: 22px !important;
}

/* == forms */
#post-search-input {
	width: 35%;
}
#link_rel {
	width: 80%;
}
#createuser .form-field input,
input.regular-text,
#adduser .form-field input,
.form-table select {
	width: auto;
	min-width: 12em;
	max-width: 16em;
}
.form-table span.description,
span#utc-time {
	display:block;
	padding-left:0;
}
.form-table input.tog { float: none; }
.options-media-php input.small-text { width: 10em;}

#edit-slug-box {
	height: auto;
	margin: 1.5em 0 3em;
}


/* == table and commands */

ul.subsubsub {
	float:none;
	margin: 1.5em 0;
	white-space:normal;
}
form p.search-box {
	float:none;
	margin: 1.2em 0;
}
.tablenav.top {
	margin-top: 2em;
}
table.wp-list-table,
table#update-themes-table {
	display: block;
	width: auto;
}
.wrap table.fixed {table-layout:auto;}
.wrap table.wp-list-table thead tr,
.wrap table.wp-list-table thead th, 
.wrap table.wp-list-table tfoot tr,
.wrap table.wp-list-table tfoot th,
.wrap table.wp-list-table thead, 
.wrap table.wp-list-table tfoot,
.wrap table.fixed thead tr,
.wrap table.fixed thead th, 
.wrap table.fixed tfoot tr,
.wrap table.fixed tfoot th,
.wrap table.fixed thead, 
.wrap table.fixed tfoot,
table#update-themes-table thead,
table#update-themes-table tfoot {
	display:block;
	height:1px;
	width:1px;
    overflow:hidden;
	padding:0;
	margin:0;
	line-height:1em !important;
}
/* make some usefull theads visible */
.wrap table.plugins thead,
.wrap table.plugins thead th,
.wrap table.plugins thead tr,
.wrap table.comments thead,
.wrap table.comments thead th,
.wrap table.comments thead tr {
	width: auto;
	height: auto;
	line-height: 1.5em !important;
}
/* make "select all" understandable */
.wrap table.plugins thead th.check-column,
.wrap table.comments thead th.check-column {
	padding: 4px 0;
}
.wrap table.plugins thead th.check-column:after,
.wrap table.comments thead th.check-column:after {
	content: " <- Select All";
}
.wrap table.plugins thead th.check-column input,
.wrap table.comments thead th.check-column input {
	margin-left: 16px;
}
.wrap table.plugins thead th + th,
.wrap table.comments thead th + th {
	display: none;
}


#the-list,
#the-list tr,
#the-list tr td,
#the-list tr th,
#the-comment-list,
#the-comment-list tr,
#the-comment-list tr td,
#the-comment-list tr th,
.wrap table.comment-ays tr,
.wrap table.comment-ays td,
.wrap table.comment-ays th,
table#update-themes-table tr,
table#update-themes-table td,
table#update-themes-table th {
	display: block;
	width: auto;
}
#update-themes-table .check-column {
	float:left;
}
#update-themes-table .plugins .plugin-title,
#update-themes-table .plugins .theme-title { white-space:normal;}
#the-list,
#the-comment-list {
	padding: 0 10px 10px 10px;
}
#the-list .alternate,
#the-comment-list .alternate { background: transparent;}
#the-list tr:first-child,
#the-comment-list tr:first-child {
	padding: 0 0 1em;
	border-bottom: 1px solid #fff;
}
#the-list tr + tr,
#the-comment-list tr + tr {
	clear: left;
	padding: 1em 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}
#the-list tr:last-child,
#the-comment-list tr:last-child {
	padding: 1em 0 0 0;
	border-bottom: 0 none;
}
.wp-list-table #the-list td,
.wp-list-table #the-list th,
.wp-list-table #the-comment-list td,
.wp-list-table #the-comment-list th,
.fixed #the-list td,
.fixed #the-list th,
.fixed #the-comment-list td,
.fixed #the-comment-list th {
	border: 0 none;
}

/* articles (principaly) */

#the-list .check-column,
#the-comment-list .check-column {
	float:left;
	width: 25px;
	text-align: center;
}
#the-list .check-column input,
#the-comment-list .check-column input {
	margin-left:0;
}
#the-list .check-column ~ td,
#the-comment-list .check-column ~ td {
	margin-left: 30px;
	min-width: 25%;
}
#the-list .column-author {
	clear:left;
}
#the-list .column-author,
#the-list .column-categories,
.widefat #the-list .column-tags,
#the-list .column-date,
#the-list .column-slug,
#the-list .column-posts,
#the-list .column-visible,
#the-list .column-rating,
#the-list .column-links {
	background: transparent url(../img/jUIz_table_icons.png) 5px 7px no-repeat;
}
#the-list .column-author,
#the-list .column-categories {
	float: left;
	width: 30%;
	padding-left:10%;
}
#the-list .column-categories {
	background-position: 5px -55px;
}
.widefat #the-list .column-tags {
	clear: left;
	border: 1px dashed #aaa;
	border-left: none;
	border-right: none;
	padding-left: 30px;
	font-style: italic;
	background-position: 5px -175px;
}
#the-list .column-tags a {
	display:inline-block;
	margin-right: 1.3em;
	padding: 2px 6px;
	background: #eee;
	font-style: normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#the-list .column-comments {
	float: left;
	width: 15%;
}
#the-list .column-date {
	padding-left: 30px;
	padding-top: 0.7em;
	line-height: 1.4em;
	background-position: 5px -115px;
}

/* categories */
#the-list .column-slug {
	float: left;
	width: 33%;
	padding-left: 10%;
	background-position: 5px -240px;
	font-family: Consolas,Monaco,monospace;
}
#the-list .column-posts,
#the-list .column-links {
	background-position: 5px -302px;
	padding-left: 10%;
	text-align:left;
}

/* medias */
tbody#the-list td.media-icon {
	float: left;
	width: 80px;
	margin-left:0;
}
.upload-php #the-list .column-comments {
	width: 42%;
}

/* links */
#the-list .column-visible {
	float: left;
	width: 30%;
	padding-left: 10%;
	background-position: 5px -359px;
}
#the-list .column-rating {
	padding-left: 10%;
	background-position: 5px -426px;
}

/* categories links */
#the-list .column-links {
	background-position: 5px -488px;
}

/* comments list */
#comment-search-input {
	width: 115px;
}
.fixed #the-comment-list {
	max-width: 265px;
	overflow: hidden;
}
.fixed #the-comment-list .column-author {
	width: auto;
	line-height:1.55em;
}
.fixed #the-comment-list .comment a {
	word-wrap: break-word;
}
.column-response .post-com-count {
	float: none;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.column-response .post-com-count-wrapper + a {
	display:inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.row-actions {
	visibility: visible;
}
.row-actions-visible {
	margin-top: 0.4em;
}
.row-actions-visible span a,
.row-actions span a,
.action-links a {
	display: inline-block;
	padding: 0.15em 0.6em;
	margin: 0.2em;
	border: 1px solid #aaa;
	color: #666;
	background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	background-image:    -moz-linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	background-image:     -ms-linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	background-image:      -o-linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	background-image:         linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,.45) inset, 0 1px 1px rgba(0,0,0,.75);
}
.action-links a {
	font-weight: bold;
	text-decoration: none;
}
.row-actions span a {
	margin: 0.4em 0.2em;
}
.row-actions-visible .activate a.edit,
#the-comment-list .row-actions span.approve a,
#the-comment-list .row-actions span.reply a {
	background-color: #50990e;
	border-color:#50990e;
	color: #fff;
}
.row-actions-visible .edit a.edit,
.row-actions span.view a,
.row-actions span.edit a {
	background-color: #81857d;
	border-color: #81857d;
	color: #fff;
}
.row-actions-visible .deactivate a,
#the-comment-list .row-actions .unapprove a {
	background-color: #ad6910;
	border-color: #ad6910;
	color: #fff;
}
.row-actions span.inline a,
.row-actions span.quickedit a {
	background-color: #21759B;
	border-color: #21759B;
	color: #fff;
}
.row-actions-visible .delete a.delete,
#the-list div.row-actions span.trash a,
#the-list div.row-actions span.delete a,
#the-comment-list div.row-actions span.trash a,
#the-comment-list div.row-actions span.spam a,
.action-links .submitdelete,
#dashboard_recent_comments .row-actions .delete a,
#dashboard_recent_comments .row-actions .spam a {
	background-color: #BC0B0B;
	border-color: #BC0B0B;
	color: #fff;
}
.row-actions-visible .deactivate a:hover,
.row-actions-visible .deactivate a:focus,
.row-actions-visible .deactivate a:active {
	background-color: #ba7f32;
	border-color: #ba7f32;
	color: #fff;
}
.row-actions-visible .edit a.edit:hover,
.row-actions-visible .edit a.edit:focus,
.row-actions-visible .edit a.edit:active {
	background-color: #a9a9a8;
	border-color: #a9a9a8;
	color: #fff;
}
.row-actions-visible .activate a.edit:hover,
.row-actions-visible .activate a.edit:focus,
.row-actions-visible .activate a.edit:active,
.action-links .activatelink {
	background-color: #79bf3a;
	border-color: #79bf3a;
	color: #fff;
}
.row-actions-visible .delete a.delete:hover,
.row-actions-visible .delete a.delete:focus,
.row-actions-visible .delete a.delete:active,
#dashboard_recent_comments .delete a:hover,
#dashboard_recent_comments .delete a:focus,
#dashboard_recent_comments .delete a:active,
#dashboard_recent_comments .spam a:hover,
#dashboard_recent_comments .spam a:focus,
#dashboard_recent_comments .spam a:active {
	background-color: #dc4242;
	border-color: #dc4242;
	color: #fff;
}

#wpbody-content .describe input[type="text"], 
#wpbody-content .describe textarea {
	width: auto;
}
#wpbody-content table.describe th {
	width: 112px;
}
#wpbody-content .media-item .thumbnail {
	max-width: 75px;
	height: auto;
}

.fixed .column-icon {
	width: 60px;
}
.users-php .row-actions span {clear: left;}

/* quick edit blocks */
#wpbody-content .quick-edit-row-post .inline-edit-col-left,
#wpbody-content .inline-edit-row-post .inline-edit-col-center,
#wpbody-content .quick-edit-row-post .inline-edit-col-right {
	width: auto;
	float: none;
}
#wpbody-content .quick-edit-row fieldset .inline-edit-group label.alignleft:first-child {
	margin-right: 1em;
}
.inline-edit-row fieldset label,
.inline-edit-row fieldset span.inline-edit-categories-label {
	margin: 0.9em 0;
}



/* buttons */
.button {
	margin: 0.9em 1em 0.9em 0;
}
.button-primary + .button {
	margin-left: 0;
}
.button-primary {
	display: block;
	margin-bottom: 1em;
}

/* some things visible which must be hidden */
#com-reply,
div.hidden {
	display:none !important;
}

/* some things hidden which must be displayed */
p.row-actions {
	visibility: visible;
}


/* == footer */

div#footer {
	position: static;
	margin-right: 0;
	margin-left: 0;
	margin-top: 2em;
	padding: 2em;
	background: #fff;
	text-align:center;
}
span#footer-thankyou {
	display:block;
	position: relative;
}
p#footer-left {
	float:none;
}
#footer-upgrade { 
	float: none;
	padding: 1em;
}


/* == Plugins Compatibility */
/*
	WPML - icl
*/
#icl-als-actions-label,
#icl-als-actions,
#icl-als-info {
	display: inline-block;
	float: none !important;
	vertical-align:middle;
}
#icl-als-actions-label {
	display: block;
}
#icl-als-toggle {
	width: 28px !important;
}
select[name="icl_user_admin_language"] {
	max-width: 12em;
}
.sitepress-multilingual-cms-menu-languages-php #icl_lang_sel_preview_wrap { float: none; }
.sitepress-multilingual-cms-menu-languages-php textarea { max-width:90%; }

#icl_strings_in_theme td+td+td+td,
#icl_strings_in_theme th+th+th+th,
#icl_strings_in_plugins td+td+td+td,
#icl_strings_in_plugins th+th+th+th {
	display:none;
}
.sitepress-multilingual-cms-menu-theme-localization-php .button-primary {
	display:block;
	width: 50%;
}
/*
	Simple image Sizes
*/
.sis th+th+th+th+th,
.sis td+td+td+td+td {
	display: none;
}
#add_size { white-space:normal; width: 75%; }

/*
	Contact form 7
*/
.toplevel_page_wpcf7 div.wpcf7 div.cf7com-links { 
	margin-top: 10px;
	text-align:center;
}
.wpcf7 #wpcf7-title,
.wpcf7 #contact-form-anchor-text,
.wpcf7 #wpcf7-form { width: 90%; }
.wpcf7 input.wide { max-width: 90%; }

/*
	Next gen Gallery
*/
.galerie_page_nggallery-add-gallery input,
.galerie_page_nggallery-tags input {
	max-width: 50%;
}
.galerie_page_nggallery-add-gallery #slider {
	margin:0 10px;
}
.galerie_page_nggallery-manage-album #wrap {
	display:none;
}
.galerie_page_nggallery-manage-album #wpbody-content:after {
	content : "Can't be modified with a mobile";
}
#imagefiles { width: 90%; }
#imagefiles_wrap { overflow: auto; width: 90%; }
#donator_message { display:none; }

/*
	Juiz User Custom Meta
*/
#juiz_cuf_table .technical_help_col { display: none; }
#juiz-custom-user .juiz_support .pp { float: none; margin-left:0; }

/*
	WP Optimize
*/
.toplevel_page_WP-Optimize table
.toplevel_page_WP-Optimize tr,
.toplevel_page_WP-Optimize td,
.toplevel_page_WP-Optimize th {
	display: block;
}
.toplevel_page_WP-Optimize img {
	width: 100%;
	height: auto;
}
.toplevel_page_WP-Optimize table iframe {
	width: 100%!important;
}
.toplevel_page_WP-Optimize table.widefat {
	width: auto;
	display: block;
}